@font-face {
	font-family: 'Wordflix Sans';
	font-weight: 100;
	font-display: optional;
	src: url(./fonts/WordflixSans_W_Th.woff2) format('woff2'), url(./fonts/WordflixSans_W_Th.woff) format('woff')
}

@font-face {
	font-family: 'Wordflix Sans';
	font-weight: 300;
	font-display: optional;
	src: url(./fonts/WordflixSans_W_Lt.woff2) format('woff2'), url(./fonts/WordflixSans_W_Lt.woff) format('woff')
}

@font-face {
	font-family: 'Wordflix Sans';
	font-weight: 400;
	font-display: optional;
	src: url(./fonts/WordflixSans_W_Rg.woff2) format('woff2'), url(./fonts/WordflixSans_W_Rg.woff) format('woff')
}

@font-face {
	font-family: 'Wordflix Sans';
	font-weight: 700;
	font-display: optional;
	src: url(./fonts/WordflixSans_W_Md.woff2) format('woff2'), url(./fonts/WordflixSans_W_Md.woff) format('woff')
}

@font-face {
	font-family: 'Wordflix Sans';
	font-weight: 800;
	font-display: optional;
	src: url(./fonts/WordflixSans_W_Bd.woff2) format('woff2'), url(./fonts/WordflixSans_W_Bd.woff) format('woff')
}

@font-face {
	font-family: 'Wordflix Sans';
	font-weight: 900;
	font-display: optional;
	src: url(./fonts/WordflixSans_W_Blk.woff2) format('woff2'), url(./fonts/WordflixSans_W_Blk.woff) format('woff')
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  box-sizing: border-box;
}
body {
  font-family: 'Wordflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  height: 100vh;
  margin: 0;
}

section li {
  list-style-type: none;
}

button {
  font-size: 1.6rem;
}
.full-width {
  width: 100%;
}
#root {
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 5rem;
  height: 100%;
}

header {
  border-bottom: 1px solid #e6e6e6;
}

.header-links a {
  /* color: #000;
  font-weight: 700;
  text-decoration: none; */
  padding: 1rem;
  color: #333;
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
}
.header-links a:hover {
  text-decoration: underline;
}
.footer {
  grid-area: footer;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
}

.courses {
  margin-top: 50px;
}

/* Home Screen */
.course {
  border-bottom: 1px #333 solid;
}

.course a {
  color: #000;
  text-decoration: none;
}
.course a:hover {
  color: #000;
  text-decoration: none;
}
.course-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.course-brand {
  font-size: 1.2rem;
  color: #808080;
}
.course-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.course-image {
  max-width: 22rem;
  max-height: 22rem;
  width:100%
}
/* More Videos */
ul.more-videos {
  list-style-type: none;
  padding: 0;
}

.more-videos .videoItem:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-videos li {
  margin: 0.8rem;
  /* margin-bottom: 2rem; */
}
.more-videos li > div {
  margin: 0.5rem;
}

/* Rating */
.rating span {
  color: #ffb901;
  font-size: 0.8rem;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #444444;
  font-size: 0.8rem;
}
a > .rating > span:last-child {
  color: #0000ff;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 50%;
  border: 0.1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}

/* Course Details */
.details-info {
  display: block;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 0 8px 20px;
}
.details-image img {
  width: inherit;
  max-width: 22rem;
}

.sidebar-details h2 {
  margin-top: 0;
}

.details-info .rating {
  margin-bottom: 0.5rem;
}

.back-to-result {
  padding: 1rem;
}

.details-info .details-price {
  font-size: 1.5rem;
}

section {
  margin: 2rem auto;
}

section h2 {
  padding-bottom: 5px;
}

/* Button */

.button {
    display: inline-block;
    text-decoration: none;
    line-height: 1em;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    position: relative;
    color: #000;
    background-color: #e6e6e6;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e6e6e6),to(#ddd));
    background-image: -webkit-linear-gradient(top,#e6e6e6,#ddd);
    background-image: -moz- oldlinear-gradient(top,#e6e6e6,#ddd);
    background-image: -o-linear-gradient(top,#e6e6e6,#ddd);
    background-image: linear-gradient(to bottom,#e6e6e6,#ddd);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
}
.btn-red {
    color: #fff;
    background-color: #e50914;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#e50914),to(#db0510));
    background-image: -webkit-linear-gradient(top,#e50914,#db0510);
    background-image: -moz- oldlinear-gradient(top,#e50914,#db0510);
    background-image: -o-linear-gradient(top,#e50914,#db0510);
    background-image: linear-gradient(to bottom,#e50914,#db0510);
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgba(0,0,0,.45);
}
.btn-primary {
  background-color: #e50914 !important;
  border-color: #e50914 !important;
}
.btn-secondary {
  background-color: transparent !important;
  border-color: #e50914 !important;
  color: #e50914 !important;
}
.button {
  position: relative;
  font-size: 1em;
  padding: 24.5px 2em;
  min-width: 74px;
  min-height: 50px;
  margin: .5em .5em .5em 0;
}
.nmhp-cta {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: .25em auto;
  padding: 0 1em;
  line-height: initial;
  width: auto;
}
@media only screen and (max-width: 1449px) and (min-width: 950px), only screen and (min-width: 1450px) {
  .nmhp-cta {
    padding: 0 1em;
    margin: .5em auto;
  }
}
.nmhp-cta-extra-large {
    font-size: 1rem;
    min-height: 40px;
}
@media only screen and (max-width: 1449px) and (min-width: 950px) {
  .nmhp-cta-extra-large {
    font-size: 1.625rem;
    min-height: 60px;
  }
}
.nmhp-cta-large {
    font-size: 1rem;
    min-height: 40px;
}
@media only screen and (max-width: 1449px) and (min-width: 950px) {
  .nmhp-cta-large {
    font-size: 1.25rem;
    min-height: 48px;
  }
}


/* Cart */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: flex-start;
}
.cart-list {
  flex: 3 1 60%;
}
.cart-action {
  flex: 1 1 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
}
.cart-list-container {
  list-style-type: none;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0 0 2px #dedfe0;
  box-shadow: 0 0 2px #dedfe0;
  padding: 10px;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
  padding-left: 1.2em;
}
.cart-price {
  flex: 1 1;
  font-size: 1rem;
  text-align: right;
  color: #e50914;
}

/* forms */

.form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 32rem;
  padding: 2rem;
  margin: 0;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.form .form-control {
  margin: 1rem auto;
}

/* Courses */

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}
th {
  text-align: left;
}
tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Checkout Steps */

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 20rem;
  margin: 1rem auto;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem;
  text-align: center;
}
.checkout-steps > div.active {
  border-top: 0.3rem #f08000 solid;
  color: #f08000;
}

/* Place Order */

.placeorder {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  justify-content: space-between;
}
.placeorder-info {
  flex: 3 1 60%;
}
.placeorder-action {
  flex: 1 1 30%;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
  background-color: #fcfcfc;
  padding: 1rem;
  margin-top: 1em;
}
.placeorder-info > div {
  background-color: #fcfcfc;
  padding: 1rem;
}
.placeorder-info > div:first-child {
  margin-top: 0;
}
.placeorder-action > ul {
  padding: 0;
  list-style-type: none;
}
.placeorder-action > ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.placeorder-action > ul > li:last-child {
  font-size: 2rem;
  font-weight: bold;
  color: #c04000;
}
.placeorder-actions-payment > div {
  width: 100%;
}

/*orderplace*/
.order-summary {
  border: 1px solid #e8e9eb;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  box-sizing: border-box;
  display: table;
  margin-bottom: 10px;
  padding: 24px 24px 0;
  position: sticky;
  position: -webkit-sticky;
}

/* Profile */

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile-info {
  flex: 1 1 30rem;
}
.profile-orders {
  flex: 3 1 60rem;
}

/* admin */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  padding: 1rem;
  list-style-type: none;
  z-index: 1;
  background-color: #fff;
  margin: 0;
  margin-top: 0.4rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* filter */

.filter {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 1rem auto;
  max-width: 55rem;
  justify-content: space-between;
  align-items: center;
}
.filter input,
.filter button,
.filter select {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  font-size: 1.6rem;
}
.categories {
  padding: 0;
  list-style-type: none;
}
.categories a {
  display: flex;
  padding: 1rem;
}

.categories a:hover {
  background-color: #c0c0c0;
}
.udlite-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  object-fit: cover;
  color: #fff;
}
.udlite-heading-md {
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02rem;
}



#reviews {
  margin: 0;
  padding: 0;
}

#reviews h4 {
  color: rgba(0,0,0,.45);
}

.star-rating--star-wrapper--2eczq {
	display: inline-flex;
	align-items: center
}

.star-rating--star-wrapper--2eczq>svg {
	display: block;
	width: 7rem;
	height: 1.6rem
}

.star-rating--star-wrapper--2eczq.star-rating--numeric--IWITF>svg {
	width: 1.6rem
}

.star-rating--star-wrapper--2eczq.star-rating--large--3T9Yf>svg {
	width: 10rem;
	height: 2rem
}

.star-rating--star-wrapper--2eczq.star-rating--large--3T9Yf.star-rating--numeric--IWITF>svg {
	width: 2rem
}

.star-rating--star-wrapper--2eczq.star-rating--large--3T9Yf .star-rating--rating-number--3lVe8 {
	line-height: 1
}

.star-rating--star-filled--3D4Ee {
	fill: #eb8a2f
}

.star-rating--dark-background--Rqadv .star-rating--star-filled--3D4Ee {
	fill: #ffc48c
}

.star-rating--star-bordered--2QFon {
	stroke: #eb8a2f
}

.star-rating--dark-background--Rqadv .star-rating--star-bordered--2QFon {
	stroke: #ffc48c
}

.star-rating--rating-number--3lVe8 {
	margin-right: .4rem;
	color: #be5a0e
}

.star-rating--dark-background--Rqadv .star-rating--rating-number--3lVe8 {
	color: #ffc48c
}

.review-summary-widget--average-stars--YnbDS {
	display: none
}

@media(min-width:37.56em) {
	.review-summary-widget--average-stars--YnbDS {
		display: flex;
		padding: 0 0 .8rem
	}
}

.review-summary-widget--average-number--2Q0bz {
	font-size: 6.4rem
}

@media(min-width:37.56em) {
	.review-summary-widget--average-number--2Q0bz {
		line-height: 1
	}
}

.review-summary-widget--average-rating-text--2BT9O {
	padding: 0 0 0 .8rem
}

@media(min-width:37.56em) {
	.review-summary-widget--average-rating-text--2BT9O {
		font-size: 1.4rem;
		padding: 0
	}
}

.review-summary-widget--average-container--3rNaQ {
	display: flex;
	align-items: baseline;
	color: #be5a0e
}

@media(min-width:37.56em) {
	.review-summary-widget--average-container--3rNaQ {
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
}

.review-summary-widget--stats-container--yDnDk {
	display: flex;
	flex-direction: column
}

@media(min-width:37.56em) {
	.review-summary-widget--stats-container--yDnDk {
		flex-direction: row
	}
}

.review-summary-widget--rate-percent--2dtfO {
	display: block;
	white-space: nowrap;
	min-width: 4rem;
	text-align: left;
	margin-left: .8rem;
	color: #0f7c90
}

.review-summary-widget--rates--3grhA {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between
}

.review-summary-widget--rates--3grhA .review-summary-widget--disabled--18wQM,
.review-summary-widget--rates--3grhA .review-summary-widget--inactive--unoZY {
	opacity: .25
}

@media(min-width:37.56em) {
	.review-summary-widget--rates--3grhA {
		padding: 0 0 0 3.2rem
	}
}

.review-summary-widget--rates-row--X0MwR {
	align-items: center;
	background-color: transparent;
	border: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: .8rem;
	padding: 0;
	width: 100%
}

.review-summary-widget--rates-row--X0MwR:last-child {
	margin-bottom: 0
}

.review-summary-widget--rate-clear--3cRwq {
	display: flex;
	justify-content: center;
	width: 1.6rem
}

.review-summary-widget--rate-gauge--2nIhJ {
	display: flex;
	margin-right: .8rem;
	min-width: 10rem;
	flex: 1
}

.review-summary-widget--rate-gauge--fill--20Pgq {
	background: #73726c;
	display: block;
	height: 100%
}

.review-summary-widget--rate-gauge--bg--ajIt1 {
	background: #dcdacb;
	display: block;
	height: .8rem;
	width: 100%
}

.show-more--content--isg5c {
	overflow: hidden;
	position: relative;
	width: 100%
}

.show-more--full-width--1KhGz {
	width: 100%
}

.show-more--container--1QLmn {
	display: flex;
	flex-direction: column;
	align-items: flex-start
}

.show-more--container--1QLmn span[data-checked=checked]~.show-more--content--isg5c {
	overflow: visible;
	max-height: none!important
}

.show-more--container--1QLmn span[data-checked='']~.show-more--with-gradient--2abmN.show-more--content--isg5c {
	-webkit-mask-image: linear-gradient(#fff, #fff, rgba(255, 255, 255, 0))
}

.show-more--container--1QLmn span[data-checked=checked]~.show-more--focusable-label--14fP5 .show-more--show-more--3ve3e {
	display: none
}

.show-more--container--1QLmn span[data-checked='']~.show-more--focusable-label--14fP5 .show-more--show-less--3eSCX {
	display: none
}

.instructor-response--response--3HnFa {
	margin: 2.4rem 0 0;
	padding: 0 0 0 1.2rem;
	border-left: .4rem solid #dcdacb
}

.instructor-response--author--328Mr {
	display: flex;
	align-items: flex-start
}

@media(min-width:37.56em) {
	.instructor-response--author--328Mr {
		align-items: center
	}
}

.instructor-response--author-content--2GIjW {
	margin: 0 0 0 1.6rem;
	flex: 1;
	min-width: 1px
}

.instructor-response--name--3EeGa {
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal
}

@media(min-width:37.56em) {
	.instructor-response--name--3EeGa {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block!important
	}
}

.ie11 .instructor-response--name--3EeGa {
	max-height: 4.56rem
}

.instructor-response--author-description--3Zdtb {
	display: flex;
	flex-flow: row wrap;
	margin: .4rem 0 0;
	color: #73726c
}

.instructor-response--author-description--3Zdtb>span {
	white-space: nowrap
}

.instructor-response--author-description--3Zdtb>span.instructor-response--dot--3ZOrd {
	padding: 0 .4rem
}

.instructor-response--body--1z9ZU {
	padding: 1.6rem 0 0
}

.instructor-response--comment--1H2Q7 {
	word-break: break-word;
	-ms-word-break: break-all
}

textarea.udlite-text-input-small {
	height: auto;
	padding: 1rem 1.6rem
}

textarea.udlite-text-input-large {
	height: auto;
	padding: 1.3rem 1.6rem
}

.report-abuse-modal--introduction--3Kdeh {
	margin-bottom: 2.4rem
}

.report-abuse-modal--issue-select--F14m_,
.report-abuse-modal--issue-details--2pCCY {
	margin-bottom: 1.6rem
}

.report-abuse--report-abuse-button--J2v1l {
	height: inherit
}

.report-abuse--report-abuse-full-width--hCrJe {
	display: flex;
	flex-direction: column
}

.helpful-button--icon-button-wrapper--1H_4e.helpful-button--active--3OoGg {
	background-color: #2896a9;
	border-color: #2896a9
}

.helpful-button--icon--2CtKB {
	color: #2896a9
}

.helpful-button--icon--2CtKB.helpful-button--active--3OoGg {
	color: #fff
}

.review-feedback--review-feedback__title--1kbbZ {
	font-size: 1.2rem
}

.review-feedback--review-feedback__actions--3WPPm {
	align-items: center;
	display: flex;
	margin-top: .8rem
}

.review-feedback--review-feedback__actions-thumb_up--1TdU7 {
	margin-right: .8rem
}

.review-feedback--review-feedback__actions-thumb_down--sQ2lz {
	margin-right: 1.6rem
}

.individual-review--individual-review-author-avatar--3k5Ty {
	display: none
}

.individual-review--individual-review-author-avatar--3k5Ty img {
	max-width: none
}

@media(min-width:37.56em) {
	.individual-review--individual-review-author-avatar--3k5Ty {
		display: block;
		padding: 0 2.4rem 0 0
	}
}

.individual-review--individual-review--1AJi4 {
	display: flex;
	flex-direction: row
}

.individual-review--individual-review-content--en4c7 {
	min-width: 1px
}

.individual-review--individual-review__comment--2o94n {
	color: #3c3b37
}

.individual-review--individual-review__comment--2o94n p:last-child {
	margin-bottom: 0
}

.individual-review--individual-review__comment--empty--2uNZ9 {
	color: #73726c
}

.individual-review--individual-review__name--3slEE {
	margin-right: 1.6rem
}

.individual-review--individual-review__name-container--YY9yu {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	margin-bottom: .8rem
}

.individual-review--individual-review__detail--3qCWi {
	color: #73726c;
	display: inline-flex;
	align-items: center;
	margin-bottom: .8rem
}

.individual-review--individual-review__detail-date--DEkVn {
	margin-left: .8rem
}

.individual-review--individual-review__feedback--3MjZc {
	margin-top: .8rem
}

.text-input-form--clear-button--3MgCW {
	border: 1px solid #989586;
	border-left: 0
}

.text-input-form--form-with-clear-button--4k3zk input {
	padding-right: 0
}

.text-input-form--text-input-form--1L2vx {
	display: flex;
	min-width: 24rem;
	max-width: 60rem
}

.text-input-form--text-input-form--1L2vx * {
	border-radius: 0
}

.text-input-form--text-input-form--1L2vx input {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 0;
	-webkit-appearance: none;
	min-width: 0;
	flex: 1
}

.text-input-form--text-input-form--1L2vx input:focus~.text-input-form--clear-button--3MgCW {
	border-color: #3c3b37
}

.text-input-form--submit-button--2dkoG {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px
}

.top-review-attributes--title--1F0Xr {
	margin-bottom: 1.6rem
}

.top-review-attributes--attributes-list--19Ifc {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-bottom: 2.4rem
}

.top-review-attributes--attribute--1yELC {
	display: flex;
	align-items: baseline;
	margin-bottom: .8rem;
	padding-right: 2.4rem;
	width: 100%
}

.top-review-attributes--attribute-text--K5Jix {
	color: #dcdacb
}

.top-review-attributes--attribute-icon--3Q9XS {
	margin-right: .4rem;
	color: #fbfbf8
}

.reviews-section--reviews-loader--2md_z {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem
}

.reviews-section--reviews-show-more--2cJQg {
	display: flex;
	flex-direction: column;
	margin-top: 2.5rem
}

.reviews-section--sub-title--3Lxry {
	margin-bottom: 2.4rem
}

.reviews-section--controls--2xAkI {
	padding: 1.6rem 0 0
}

.reviews-section--ratings-filter--fvGMy {
	padding: .8rem 0 0
}

.reviews-section--title--sOfZR {
	margin-bottom: .8rem
}

.reviews-section--review-container--3F3NE {
	padding: 1.6rem 0;
	border-bottom: 1px solid #dcdacb
}

.reviews-section--review-container--3F3NE:first-child {
	padding-top: 0
}

.reviews-section--review-container--3F3NE:last-child {
	padding-bottom: 0;
	border-bottom: none
}

.reviews-section--stats-container--1AhaT {
	margin-bottom: 3.2rem
}

.reviews-section--searched-term--3G2Gx {
	margin-top: 1.6rem
}

@media(min-width:37.56em) {
	.reviews-section--title--sOfZR {
		margin-bottom: 2.4rem
	}
	.reviews-section--controls--2xAkI {
		display: flex
	}
	.reviews-section--search-filter--1hXkA {
		flex: 1;
		min-width: 1px
	}
	.reviews-section--ratings-filter--fvGMy {
		padding: 0 0 0 1.6rem
	}
	.reviews-section--review-container--3F3NE {
		padding: 1.6rem 0 2.4rem
	}
}

.social-share-email-form--email-addresses--1WJdW,
.social-share-email-form--email-body--JLQwn,
.social-share-email-form--email-error--HdjJT {
	margin-bottom: 1.6rem
}

.social-share-email-form--email-legal-text--2vJ9h {
	justify-content: center
}

.social-share-email-form--email-submit-btns--3t69o {
	display: flex;
	flex-direction: column-reverse
}

.social-share-email-form--email-submit-btns--3t69o .social-share-email-form--cancel-button--2zt9Z {
	display: none
}

@media(min-width:37.56em) {
	.social-share-email-form--email-submit-btns--3t69o {
		flex-direction: row;
		justify-content: flex-end
	}
	.social-share-email-form--email-submit-btns--3t69o .social-share-email-form--cancel-button--2zt9Z {
		display: inline-flex;
		margin-right: 1.6rem
	}
	.social-share-email-form--email-submit-btns--3t69o .social-share-email-form--email-legal-text--2vJ9h {
		align-self: center;
		justify-content: flex-start;
		flex-grow: 1;
		margin: 0 1.6rem 0 0
	}
}

.social-share-button--icon-button--1svAO {
	margin: .8rem
}

.social-share-button--text-input-form--3MVWd {
	margin-bottom: .8rem;
	width: 100%
}

.social-share-items--social-share-items--OXB9W {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	position: relative
}

.social-share-items--social-share-items__button--3QE4c {
	margin-bottom: .8rem
}

.error-component--error-text--3T8RB {
	vertical-align: top
}

.error-component--error-container--1UfRg {
	align-items: center;
	color: #b32929;
	display: flex
}

.udlite-badge {
	border-radius: 4px;
	display: inline-block;
	padding: .4rem .8rem;
	white-space: nowrap
}

.udlite-badge-bestseller {
	background-color: #ffe799;
	color: #593d00
}

.udlite-badge-highest-rated {
	background-color: #ffc48c;
	color: #592b00
}

.udlite-badge-hot-and-new {
	background-color: #f99;
	color: #521818
}

.udlite-badge-new {
	background-color: #99dbaa;
	color: #003b0f
}

.udlite-badge-free {
	background-color: #f99;
	color: #521818
}

.course-card--container--3w8Zm {
	display: flex;
	align-items: flex-start
}

.course-card--row--1OMjg {
	display: flex;
	align-items: center;
	flex-wrap: wrap
}

.course-card--main-content--3xEIw {
	color: #3c3b37;
	white-space: nowrap;
	flex: 1;
	min-width: 1px;
	position: relative
}

.course-card--main-content--3xEIw>*:not(:last-child) {
	margin-bottom: .4rem
}

.course-card--instructor-list--lIA4f {
	color: #73726c;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.course-card--course-title--2f7tE {
	display: block!important;
	display: -webkit-box!important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal
}

.ie11 .course-card--course-title--2f7tE {
	max-height: 3.9rem
}

.course-card--fixed--2uTcL {
	width: 17.3rem
}

.course-card--course-image--2sjYP {
	border-radius: 3px;
	display: block;
	transition: opacity linear 100ms
}

.course-card--image-wrapper--Sxd90 {
	background-color: #1e1e1c;
	border-radius: 4px;
	border: 1px solid #dcdacb;
	overflow: hidden
}

.course-card--reviews-text--12UpL {
	color: #73726c;
	margin-left: .4rem
}

.course-card--course-meta-info--1hHb3 {
	color: #73726c
}

.course-card--course-meta-info--1hHb3>span:not(:first-child)::before {
	content: '\25CF';
	margin: 0 .4rem;
	font-size: 6px
}

.course-card--small--2Kisq,
.course-card--large--1BVxY {
	min-width: 22.2rem;
	max-width: 55.2rem
}

.course-card--small--2Kisq .course-card--image-wrapper--Sxd90,
.course-card--large--1BVxY .course-card--image-wrapper--Sxd90 {
	margin-right: .8rem
}

@media(min-width:23.5em) {
	.course-card--small--2Kisq,
	.course-card--large--1BVxY {
		min-width: 25.6rem
	}
}

.course-card--medium--iRtVR {
	flex-direction: column;
	max-width: 37.5rem;
	min-width: 17.3rem
}

.course-card--medium--iRtVR .course-card--course-title--2f7tE {
	margin-top: .8rem
}

.course-card--medium--iRtVR .course-card--course-image--2sjYP {
	position: absolute;
	width: 100%;
	height: 100%
}

.course-card--medium--iRtVR .course-card--image-wrapper--Sxd90 {
	padding-bottom: 56.25%;
	position: relative;
	width: 100%
}

.course-card--medium--iRtVR .course-card--main-content--3xEIw {
	width: 100%
}

@media(min-width:37.56em) {
	.course-card--large--1BVxY {
		min-width: 50.8rem;
		max-width: 129.2rem
	}
	.course-card--large--1BVxY .course-card--course-headline--yIrRk {
		display: block!important;
		display: -webkit-box!important;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal
	}
	.ie11 .course-card--large--1BVxY .course-card--course-headline--yIrRk {
		max-height: 5.7rem
	}
	.course-card--large--1BVxY .course-card--price-text-container--2sb8G {
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		text-align: right
	}
	.course-card--large--1BVxY .course-card--image-wrapper--Sxd90 {
		margin-right: 1.6rem
	}
	.course-card--large--1BVxY .course-card--main-content--3xEIw.course-card--has-price-text--1Ikr0 {
		padding-right: 9.6rem
	}
	.course-card--large--1BVxY .course-card--discount-price--3TaBk,
	.course-card--large--1BVxY .course-card--list-price--2AO6G {
		padding: 0;
		margin: 0 0 .8rem
	}
}

@media(max-width:37.5em) {
	.course-card--large--1BVxY .course-card--course-headline--yIrRk {
		display: none!important
	}
	.course-card--large--1BVxY .course-card--course-image--2sjYP {
		object-fit: cover;
		width: 6.4rem;
		height: 6.4rem
	}
}

.browse-course-card--link--3KIkQ:hover .browse-course-card--image--35hYN,
.udlite-popper-open .browse-course-card--image--35hYN {
	transition: opacity linear 100ms;
	opacity: .8
}

.unit-title--container--EH-Rf {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.6rem;
	align-items: baseline
}

.unit-title--title--2TQwd {
	max-width: 80rem
}

@media(max-width:37.5em) {
	.unit-title--container--EH-Rf {
		flex-direction: column
	}
}

.styles--add-to-cart__notification--vDZFC {
	font-size: 13px
}

.styles--btn--express-checkout--28jN4 {
	white-space: nowrap;
	width: 100%
}

.add-to-cart--add-to-cart__notification--3-a6T {
	font-size: 1.4rem
}

.bundle-unit-skeleton--footer-block--33ebO {
	margin-top: 1.6rem;
	height: 4.8rem
}

.bundle-unit--bundle-border--S8wVb {
	background-color: #fbfbf8;
	display: block;
	width: 100%;
	border: 1px solid #dcdacb;
	padding: 2.4rem
}

.bundle-unit--course-container--3__pU {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.6rem
}

.bundle-unit--course-container--3__pU>*:not(:last-child) {
	margin-bottom: 1.6rem
}

.bundle-unit--course-unit-container--1B5pp {
	position: relative;
	flex: 1;
	min-width: 1px
}

.bundle-unit--course-unit-container--1B5pp .bundle-unit--plus-icon-wrapper--rxKrz {
	display: none
}

.bundle-unit--footer-container--3YIJk {
	display: flex;
	flex-direction: column
}

.bundle-unit--price-text-container--1-w9s {
	display: flex;
	align-items: center;
	margin-bottom: 1.6rem
}

.bundle-unit--price-text-prefix--1LIcW {
	margin-right: .4rem
}

.bundle-unit--add-to-cart--3P_rg.udlite-btn {
	white-space: normal
}

.ie11 .bundle-unit--bundle-course-card--rDgoh {
	flex: auto
}

.bundle-unit--bundle-course-card--rDgoh .bundle-course-price {
	text-decoration: line-through
}

@media screen and (min-width:37.56em) {
	.bundle-unit--course-unit-container--1B5pp .bundle-unit--course-unit-image--2pXL1 {
		width: 20rem
	}
	.bundle-unit--course-unit-container--1B5pp .bundle-unit--plus-icon-wrapper--rxKrz {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		left: 7.6rem;
		top: -3.2rem;
		height: 4.8rem;
		width: 4.8rem;
		box-shadow: 0 4px 8px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .24);
		background-color: #fff;
		border: 1px solid #dcdacb;
		border-radius: 50%
	}
	.bundle-unit--footer-container--3YIJk {
		flex-direction: row;
		justify-content: space-between
	}
	.bundle-unit--price-text-container--1-w9s {
		margin-bottom: 0
	}
}

.alternate-headline--title--1sUQT {
	margin: 0 0 1.6rem;
	max-width: 80rem
}

.alternate-headline--secondary-text--yJqPe {
	margin: 0 0 1.6rem;
	max-width: 80rem
}

.alternate-headline--topic-page-title--3_Tgc {
	margin: 0 0 1.6rem
}

.alternate-headline--topic-page-title--3_Tgc h1 {
	max-width: 80rem
}

.alternate-headline--topic-page-secondary-text--1dCH2 {
	max-width: 80rem
}

.styles--more-from-instructor--2dDIJ {
	margin-bottom: 3.2rem
}

.styles--card-container--3JJv9 {
	display: inline-block;
	margin: 0 0 1.6rem;
	width: 100%
}

.styles--card-container--3JJv9:first-child {
	margin-top: 1.6rem
}

.styles--card-container--3JJv9:last-child {
	margin-bottom: 0
}

.styles--desktop-container--37OJr {
	display: flex;
	width: 100%;
	margin: 1.6rem 0 0;
	overflow-y: hidden;
	overflow-x: auto
}

.ie11 .styles--desktop-container--37OJr {
	height: 27.8rem
}

.styles--desktop-container--37OJr>* {
	margin-right: 1.6rem;
	max-width: calc((100% - (3 - 1) * 1.6rem)/3)
}

.styles--desktop-container--37OJr>*:last-of-type {
	margin-right: 0
}

.styles--desktop-container-full-row--3wiD8 {
	margin: 1.6rem 0 0;
	grid-auto-columns: 65%
}

.ie11 .styles--desktop-container-full-row--3wiD8 {
	height: 27.8rem
}

.ie11 .styles--desktop-container-full-row--3wiD8>div {
	min-width: 65%
}

@media screen and (min-width:37.56em) {
	.styles--desktop-container-full-row--3wiD8 {
		grid-auto-columns: calc((100% - (2 - 1) * 1.6rem)/2)
	}
	.ie11 .styles--desktop-container-full-row--3wiD8>div {
		min-width: calc((100% - (2 - 1) * 1.6rem)/2)
	}
}

@media screen and (min-width:43.81em) {
	.styles--desktop-container-full-row--3wiD8 {
		grid-auto-columns: calc((100% - (3 - 1) * 1.6rem)/3)
	}
	.ie11 .styles--desktop-container-full-row--3wiD8>div {
		min-width: calc((100% - (3 - 1) * 1.6rem)/3)
	}
}

@media screen and (min-width:61.31em) {
	.styles--desktop-container-full-row--3wiD8 {
		grid-auto-columns: calc((100% - (4 - 1) * 1.6rem)/4)
	}
	.ie11 .styles--desktop-container-full-row--3wiD8>div {
		min-width: calc((100% - (4 - 1) * 1.6rem)/4)
	}
}

@media screen and (min-width:75.06em) {
	.styles--desktop-container-full-row--3wiD8 {
		grid-auto-columns: calc((100% - (5 - 1) * 1.6rem)/5)
	}
	.ie11 .styles--desktop-container-full-row--3wiD8>div {
		min-width: calc((100% - (5 - 1) * 1.6rem)/5)
	}
}

.styles--pager-button--2uCQf {
	top: 25%
}